[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-flask = "*"
codecov = "*"
coverage = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.9"
